{% extends 'xyadmin/base-children.html' %}
{% load static %}

{% block layui-from %}
<form class="layui-form" style="width:80%;">
    {% csrf_token %}
    <input type="hidden" id="id" class="id" value="{{ user_id }}">
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">登录名</label>
		<div class="layui-input-block">
			<input type="text" id="username" class="layui-input username" lay-verify="required" placeholder="请输入登录名" value="{{ model_form.username.value }}">
		</div>
	</div>
    <div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">昵称</label>
		<div class="layui-input-block">
			<input type="text" id="nickname" class="layui-input nickname" lay-verify="required" placeholder="请输入昵称" value="{{ model_form.nickname.value }}">
		</div>
	</div>
    <div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">密码</label>
		<div class="layui-input-block">
			<input type="text" id="password" class="layui-input password" lay-verify="required" placeholder="密码" value="{{ model_form.password.value }}">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">邮箱</label>
		<div class="layui-input-block">
			<input type="text" id="email" class="layui-input email" lay-verify="email" placeholder="请输入邮箱" value="{{ model_form.email.value }}">
		</div>
	</div>
	<div class="layui-row">
		<div class="magb15 layui-col-md4 layui-col-xs12">
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block userSex">
				<input type="radio" name="gender" value="male" title="男" {% if model_form.gender.value == 'male' %}checked{% endif %}>
				<input type="radio" name="gender" value="female" title="女" {% if model_form.gender.value == 'female' %}checked{% endif %}>
				<input type="radio" name="gender" value="baomi" title="保密" {% if model_form.gender.value == 'baomi' %}checked{% endif %}>
			</div>
		</div>
		<div class="magb15 layui-col-md4 layui-col-xs12">
			<label class="layui-form-label">角色</label>
			<div class="layui-input-block">
				<select name="role" class="userGrade" lay-filter="userGrade">
                    {% for id,title in role_list %}
                        <option value="{{ id }}" {% if id in model_form.roles.value %} selected{% endif %}>{{ title }}</option>
                    {% endfor %}
				</select>
			</div>
		</div>
		<div class="magb15 layui-col-md4 layui-col-xs12">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<select name="status" class="userStatus" lay-filter="userStatus">
					<option value="1" {% if model_form.status.value == 1 %} selected{% endif %}>正常使用</option>
					<option value="0" {% if model_form.status.value == 0 %} selected{% endif %}>禁止使用</option>
				</select>
			</div>
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="users_edit">保存</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
		</div>
	</div>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'xyadmin/js/rbac/users/useredit.js'%}"></script>
{% endblock %}
